@import "tailwindcss";

body {
  background-color: #1a1b26;
  color: #c0caf5;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1b26;
}
::-webkit-scrollbar-thumb {
  background: #414868;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #565f89;
}
